body{
    background: #CCCCCC;
}
.tituloprincipal {
    padding-left: 50px;
}
h2  {
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;
}
.diferenciales{
    background: #ffffff;
    padding: 30px;
}

h3{
    text-align: center;
}
.items {
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendiferenciales {
    width: 50%;
}

